[Unit]
Description=Snowflake Proxy Update Timer

[Timer]
OnCalendar=Mon-Sun *-*-* 01:00:00
Unit=snowflake_update.service

[Install]
WantedBy=multi-user.target
