[Unit]
Description=Snowflak Proxy
After=network-online.target

[Service]
Type=simple
ExecStartPre=">/var/snowflake/snowflake.log"
ExecStart=/opt/snowflake/proxy -log-local-time -log /var/snowflake/snowflake.log -stun stun:relay.adminforge.de:443,stun:relay2.adminforge.de:443
Restart=always
User=snowflake
Group=snowflake

[Install]
WantedBy=multi-user.target
